
# Python artifacts
__pycache__/
*.pyc

# Common editor files
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore coverage file
.coverage

# Ruff stuff:
.ruff_cache/

# pytest stuff
.pytest_cache/

# egg-info files
# created by cross-project integration
# backend using datascience/src/suitability_scoring causes creation.
*.egg-info/
