# Ignore root node modules
node_modules/

# Python artifacts
__pycache__/
*.pyc

# Common editor files
.vscode/

# GIS files

# Bytecode + cache (recursive)
gis/**/*.pyc
gis/**/__pycache__/
gis/.pytest_cache/

# Virtual environment
gis/.venv/

# Editor / OS artifacts
gis/.vscode/
gis/.DS_Store
.DS_Store
**/.DS_Store

# Environment variables & secrets
gis/.env
gis/keys/

# Assets & temporary data
gis/assets/

# Local scripts not needed in repo
gis/main.py

# Test caches
gis/tests/**/__pycache__/
gis/tests/.pytest_cache/

