# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install backend dependencies
      working-directory: backend
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync
    - name: Lint with ruff
      working-directory: backend
      run: |
        python -m ruff check .
    - name: Test with pytest
      working-directory: backend
      run: |
        python -m pytest

    - name: Install datascience dependencies
      working-directory: datascience
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync
    - name: Lint with ruff
      working-directory: datascience
      run: |
        python -m ruff check .
    - name: Test with pytest
      working-directory: datascience
      run: |
        python -m pytest
